# Banco de dados

## Introdução

Seu nome, endereço, a placa do seu carro, seu histórico de compras no cartão de crédito, a foto que você publicou nas redes sociais, sua estadia em um hotel, etc. Tudo isso e muito, muito mais está armazenado em bancos de dados.

Portanto, uma parte fundamental de praticamente qualquer software é a base de dados. Uma base de dados nada mais é do que uma coleção organizada de dados (i.e., informações) que se relacionam de forma a criar algum sentido. Essas informações são armazenadas em dispositivos de armazenamento permanente, tais como discos rígidos para que persistam depois que o programa termina. Os bancos de dados podem ser acessados localmente ou remotamente.

Os bancos de dados são operados pelos Sistemas Gerenciadores de Bancos de Dados (SGBD), os quais provêem acesso consistente e confiável às informações. Os SGBDs permitem que os dados sejam armazenados, organizados, protegidos, atualizados, acrescentados, excluídos e acessados sempre que necessário. Por questões de praticidade, convencionou-se chamar os SGBDs simplesmente de bancos de dados.

<img src="../figures/database1.png" width="300" height="300">

Os bancos de dados atendem a praticamente qualquer tipo de aplicação. É por esse motivo que não existe só um modelo de banco de dados. Existem vários modelos de base de bados: Modelo Plano (ou tabular), Modelo em Rede, Modelo Hierárquico, Modelo Relacional, Orientado a objetos e Objeto-Relacional.

O modelo mais conhecido e utilizado é o **relacional**, o qual veremos nesta aula. Nesse modelo, os dados são estruturados em forma de **tabelas** cujas colunas e linhas se **relacionam**. A maioria dos SGBD atuais são baseados no modelo relacional.

Cada **tabela** é dividida em entidades menores chamadas **campos**. Por exemplo, os campos de uma **tabela** chamada `Clientes` podem ser `ID`, `Nome`, `Endereço`, `Cidade`, `CEP` e `Estado`. Portanto, um **campo** é uma coluna da **tabela**, projetada para manter informações específicas sobre cada **registro** na tabela.

Um **registro** por sua vez é uma **linha** da tabela. Ele é uma entrada individual em uma tabela. Cada cliente tem um registro, ou seja uma linha, com valores para os campos `ID`, `Nome`, `Endereço`, `Cidade`, `CEP` e `Estado`.

<img src="../figures/tabela_clientes.png" width="400" height="400">

Estas **tabelas**, são geralmente, acessadas e manipuladas (consultas, alterações, etc.) através de uma linguagem especializada para isso, chamada de SQL (Structured Query Language).

**IMPORTANTE**: Um banco de dados pode conter várias tabelas.

Em sua grande maioria, os SGBDs utilizam uma arquitetura cliente-servidor. Os programas utilizam a API cliente para se comunicarem com o servidor excutando o SGDB, que é o responsável por receber as **consultas** ou **queries** SQL dos clientes, interpretá-las e recuperar os dados.

Para fazer isso, o servidor precisa realizar uma série de outras tarefas, tais como: verificar credenciais, controlar o acesso, gerenciar conexões de rede, manter a integridade dos dados, otimizar as consultas e resolver questões de concorrência.

**IMPORTANTE**: Um SGBD pode estar sendo executado localmente, em sua máquina, ou em um servidor remoto.

Em Python, a integração com os SGBDs é feita através de um módulo chamado de DBI (Database Interface), que utiliza uma API (Application Programming Interface) cliente para se comunicar com o banco de dados.

A DBI é uma especificação que descreve como deve ser o comportamento de um módulo de acesso a um SGBD. 

A DBI define que o módulo deve conter uma função `connect()`, a qual retorna um objeto de conexão. A partir do objeto de conexão, é possível obter um objeto do tipo **cursor**, que permite a execução de consultas SQL e a recuperação dos dados.

Em Python, existem DBIs para diversos SGBDs: MySQL, Firebird, SQLite, PostgreSQL, MongoDB, etc.

Nessa aula, nós utilizaremos um DBI para acesso ao SGBD MySQL, que é um dos SGBDs mais populares, com mais de 10 milhões de instalações pelo mundo.

Para instalar o MySQL em seu computador, execute:

`conda install mysql-connector-python`

## Conceitos básicos da linguagem SQL

As principais ações que podem ser executadas em um banco de dados com a linguagem SQL são:

+ consultas 
+ recuperar dados
+ inserir registros
+ atualizar registros
+ excluir registros
+ criar novos bancos de dados
+ criar novas tabelas em um banco de dados

Essas ações são executadas pelas instruções: `SELECT`, `UPDATE`, `DELETE`, `INSERT`, `CREATE`, `DROP` e `WHERE`.

Na sequência, veremos como utilizar as principais instruções da linguagem SQL em Python utilizando o MySQL.

O MySQL é um SGBD do tipo cliente-servidor conhecido por seu ótimo desempenho e por ser bastante utilizado em aplicações Web, aplicativos móveis, etc.

## Conectando e criando um banco de dados

In [1]:
import mysql.connector as mysql

# Conectando ao banco de dados.
# Precisamos de 3 parâmetros, o endereço do banco, usuário e senha.
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "root"
)

# Criando uma instância da classe 'cursor' que é usada 
# para executar as instruções SQL em Python.
cursor = db.cursor()

# Cria um banco de dados chamado 'loja'. 
# O método 'execute ()' é usado para enviar uma instrução SQL ao SGDB.
try:
    cursor.execute("CREATE DATABASE loja")
except:
    pass

## Verificando todos os bancos de dados disponíveis.

In [2]:
# Envia instrução ao SGBD para mostrar os bancos de dados disponíveis.
cursor.execute("SHOW DATABASES")

# O método 'fetchall()' busca todas os registros em um conjunto 
# de resultados da última instrução executada.
databases = cursor.fetchall()

# Mostra os bancos de dados.
for database in databases:
    print(database)

# Finaliza a conexão com o banco de dados.
db.close()

('information_schema',)
('curso',)
('loja',)
('mysql',)
('performance_schema',)
('sakila',)
('test',)
('world',)

# Criando tabelas

In [3]:
import mysql.connector as mysql

# Antes de criar uma tabela, primeiro temos que nos conectar
# a um banco de dados.
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "root",
    database = "loja"
)

cursor = db.cursor()

# Criando uma tabela chamada 'Clientes' no banco de dados 'loja'.
try:
    cursor.execute(
        "CREATE TABLE Clientes (nome VARCHAR(255), endereco VARCHAR(255), cidade VARCHAR(255), cep VARCHAR(255), estado VARCHAR(255))"
    )
except:
    pass

# Obtendo todas as tabelas que estão presentes no banco de dados 'loja'.
cursor.execute("SHOW TABLES")

tables = cursor.fetchall()

## Mostrando todas as tabelas.
print('----- Tabelas -----')
for table in tables:
    print(table)
    
# Obtendo uma descrição dos campos da tabela.
cursor.execute("DESCRIBE Clientes")

# O método 'fetchall()' busca todas os registros em um conjunto de resultados.
fields = cursor.fetchall() 

## Mostrando todos os campos.
print('\n----- Campos -----')
for field in fields:
    print(field)

----- Tabelas -----
('clientes',)

----- Campos -----
('nome', 'varchar(255)', 'YES', '', None, '')
('endereco', 'varchar(255)', 'YES', '', None, '')
('cidade', 'varchar(255)', 'YES', '', None, '')
('cep', 'varchar(255)', 'YES', '', None, '')
('estado', 'varchar(255)', 'YES', '', None, '')

## Chave primária

Uma chave primária é um valor único na tabela. É como uma chave de um dicionário, a qual você utiliza para acessar o valor associado. A chave primária nos ajuda a encontrar cada **registro** (i.e., linha) na tabela.

Para criar uma chave primária, usamos a instrução `PRIMARY KEY` ao criar a tabela.

A instrução `INT AUTO_INCREMENT PRIMARY KEY` é usada para identificar cada **registro** exclusivamente com um número começando em 1 e incrementado automaticamente a cada nova entrada.

No exemplo abaixo, vemos como criar uma chave primária para uma tabela.

In [4]:
# Primeiro temos que deletar a tabela que já foi criada para 
# criá-la novamente com a 'PRIMARY KEY'
# A instrução 'DROP TABLE table_name' eliminará a tabela do um banco de dados.
cursor.execute("DROP TABLE Clientes")

# Criando a tabela 'Clientes' novamente, agora com a 'PRIMARY KEY'.
cursor.execute("CREATE TABLE Clientes (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(255), endereco VARCHAR(255), cidade VARCHAR(255), cep VARCHAR(255), estado VARCHAR(255))")

# Obtendo uma descrição dos campos da tabela.
cursor.execute("DESCRIBE Clientes")

fields = cursor.fetchall() 

## Mostrando todos os campos.
print('----- Campos -----')
for field in fields:
    print(field)

----- Campos -----
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('nome', 'varchar(255)', 'YES', '', None, '')
('endereco', 'varchar(255)', 'YES', '', None, '')
('cidade', 'varchar(255)', 'YES', '', None, '')
('cep', 'varchar(255)', 'YES', '', None, '')
('estado', 'varchar(255)', 'YES', '', None, '')

## Adicionando dados a uma tabela

Para aidionar dados a uma tabela nós usamos a instrução `INSERT INTO table_name (column_names) VALUES (data)`.

O código abaixo irá inserir um **registro** na tabela de Clientes.

In [7]:
# Definindo a Query
query = "INSERT INTO Clientes (nome, endereco, cidade, cep, estado) VALUES (%s, %s, %s, %s, %s)"
# Armazenando os dados de um registro em uma variável.
dados = ('João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')

# Execuando a query.
cursor.execute(query, dados)

# Para adicionar o registro ao banco, temos que executar o método 'commit()'.
# Commit é a operação, que dá sinal verde ao banco de dados para finalizar 
# as alterações e, após esta operação, nenhuma alteração pode ser revertida.
db.commit()

# Mostra quantos registros já foram inseridos.
print(cursor.rowcount, "registros inseridos")

1 registros inseridos

Para inserir vários **registros** na tabela, usamos o método `executemany()`. 

Ele recebe uma consulta como o primeiro argumento e uma lista de tuplas contendo os dados como um segundo argumento.

In [9]:
# Definindo a Query
query = "INSERT INTO Clientes (nome, endereco, cidade, cep, estado) VALUES (%s, %s, %s, %s, %s)"
# Armazenando os dados de um registro em uma lista.
dados = [
    ('José Alfredo', 'Avenida Sul, 37', 'Campinas', '45356-001', 'SP'),
    ('Ana Valadares', 'Alameda João Dias, 62', 'Varginha', '78900-000', 'TO')
]

# Executando a consulta com vários registros.
cursor.executemany(query, dados)

# Para adicionar o registro ao banco, temos que executar o método 'commit()'.
db.commit()

# Mostra quantos registros já foram inseridos.
print(cursor.rowcount, "registros inseridos")

2 registros inseridos

## Recuperando dados de uma tabela

Para recuperar os dados de uma tabela que usamos a instrução `SELECT column_names FROM table_name`.

### Recuperando todos os registros da tabela

Para obter todos os registros de uma tabela, usamos `*` no lugar dos nomes das colunas, com isso, obtemos todos os dados da tabela `Clientes` que inserimos antes.

In [10]:
# Definindo a query.
query = "SELECT * FROM Clientes"

# Executando a query no servidor.
cursor.execute(query)

# Buscando todos os registros do objeto 'cursor'.
records = cursor.fetchall()

# Mostarndo os dados.
for record in records:
    print(record)

(1, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')
(2, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')
(3, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')
(4, 'José Alfredo', 'Avenida Sul, 37', 'Campinas', '45356-001', 'SP')
(5, 'Ana Valadares', 'Alameda João Dias, 62', 'Varginha', '78900-000', 'TO')
(6, 'José Alfredo', 'Avenida Sul, 37', 'Campinas', '45356-001', 'SP')
(7, 'Ana Valadares', 'Alameda João Dias, 62', 'Varginha', '78900-000', 'TO')

### Obtendo algumas colunas

Para selecionar algumas colunas da tabela, utilizamos o nome da coluna após a instrução `SELECT`. 

No exemplo abaixo, recuperamos a coluna `nome` da tabela `Clientes`.

In [11]:
# Definindo a query.
query = "SELECT nome FROM Clientes"

# Executando a query no servidor.
cursor.execute(query)

# Buscando todos os registros do objeto 'cursor'.
nomes = cursor.fetchall()

## Showing the data
for nome in nomes:
    print(nome)

('João da Silva',)
('João da Silva',)
('João da Silva',)
('José Alfredo',)
('Ana Valadares',)
('José Alfredo',)
('Ana Valadares',)

Podemos recuperar mais de uma coluna por vez. Percebam que o retorno é uma lista de tuplas.

In [12]:
# Definindo a query.
query = "SELECT nome, endereco FROM Clientes"

# Executando a query no servidor.
cursor.execute(query)

# Buscando todos os registros do objeto 'cursor'.
dados = cursor.fetchall()

print('----- Retorno da query -----')
print(dados)

## Showing the data
print('\n----- Dados -----')
for dado in dados:
    print(dado)

----- Retorno da query -----
[('João da Silva', 'Rua I, 100'), ('João da Silva', 'Rua I, 100'), ('João da Silva', 'Rua I, 100'), ('José Alfredo', 'Avenida Sul, 37'), ('Ana Valadares', 'Alameda João Dias, 62'), ('José Alfredo', 'Avenida Sul, 37'), ('Ana Valadares', 'Alameda João Dias, 62')]

----- Dados -----
('João da Silva', 'Rua I, 100')
('João da Silva', 'Rua I, 100')
('João da Silva', 'Rua I, 100')
('José Alfredo', 'Avenida Sul, 37')
('Ana Valadares', 'Alameda João Dias, 62')
('José Alfredo', 'Avenida Sul, 37')
('Ana Valadares', 'Alameda João Dias, 62')

## Selecionando com um filtro

A instrução `SELECT nome_da_coluna FROM nome_tabela WHERE condition` é usada para recuperar os dados que satisfazem uma condição. Nós podemos especificar qualquer condição com base em nos dados da tabela.

No exemplo abaixo, selecionaremos o registro com campo `id` igual a 3.

In [13]:
# Definindo a query.
query = "SELECT * FROM Clientes WHERE id = 3"

# Executando a query no servidor.
cursor.execute(query)

# Buscando todos os registros do objeto 'cursor'.
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(3, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')

No exemplo abaixo, selecionaremos os registro com campo `nome` igual a `João da Silva`.

In [14]:
# Definindo a query.
query = "SELECT * FROM Clientes WHERE nome = 'João da Silva'"

# Executando a query no servidor.
cursor.execute(query)

# Buscando todos os registros do objeto 'cursor'.
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')
(2, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')
(3, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')

## Apagando registros

Nós podemos excluir registros de uma tabela existente usando a instrução `DELETE FROM table_name WHERE condition`. Todos os registros são excluídos se a condição não for especificada.

No exemplo abaixo deletemos todos os registros duplicados através de seus `id`s.

In [15]:
# Definindo a query.
query = "DELETE FROM Clientes WHERE id = %s"

# Armazenando os dados de um registro em uma lista.
dados = [
    (2,),
    (3,),
    (4,),
    (7,),
    (8,)
]

# Executando a consulta com vários registros.
cursor.executemany(query, dados)

# Informa ao banco de dados que alteramos os dados da tabela.
db.commit()

# Definindo a query.
query = "SELECT * FROM Clientes"

# Executando a consulta.
cursor.execute(query)

# Buscando todos os registros do objeto 'cursor'.
records = cursor.fetchall()

## Mostrando os dados.
for record in records:
    print(record)

(1, 'João da Silva', 'Rua I, 100', 'Santa Rita do Sapucaí', '37540-000', 'MG')
(5, 'Ana Valadares', 'Alameda João Dias, 62', 'Varginha', '78900-000', 'TO')
(6, 'José Alfredo', 'Avenida Sul, 37', 'Campinas', '45356-001', 'SP')

## Atualizando os registros de uma tabela

A palavra-chave `UPDATE` é usada para atualizar os dados de um registro ou registros.

Podemos atualizar os registros existentes em uma tabela usando a instrução `UPDATE table_name SET column_name = new_value WHERE condition`.

No exemplo abaixo nós vamos atualizar o endereço de um cliente.

In [16]:
# Definindo a query.
query = "UPDATE Clientes SET endereco = 'Travessa do Coelho, 66' WHERE id = 1"

# Executando a consulta.
cursor.execute(query)

# Informa ao banco de dados que alteramos os dados da tabela.
db.commit()

# Definindo a query.
query = "SELECT * FROM Clientes WHERE id = 1"

# Executando a consulta.
cursor.execute(query)

# Recuperando os registros da tabela.
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)
    
# Finaliza a conexão com o banco de dados.
db.close()

(1, 'João da Silva', 'Travessa do Coelho, 66', 'Santa Rita do Sapucaí', '37540-000', 'MG')

## Tarefas

1. <span style="color:blue">**QUIZ - Banco de Dados**</span>: respondam ao questionário sobre banco de dados no MS teams, por favor. 
2. <span style="color:blue">**Laboratório #8**</span>: cliquem em um dos links abaixo para accessar os exercícios do laboratório #8.

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/zz4fap/intro_to_python/master?filepath=labs%2FLaboratorio8.ipynb)

[![Google Colab](https://badgen.net/badge/Launch/on%20Google%20Colab/blue?icon=terminal)](https://colab.research.google.com/github/zz4fap/intro_to_python/blob/master/labs/Laboratorio8.ipynb)

**IMPORTANTE**: Para acessar o material das aulas e realizar as entregas dos exercícios de laboratório, por favor, leiam o tutorial no seguinte link:
[Material-das-Aulas](../docs/Acesso-ao-material-das-aulas-resolucao-e-entrega-dos-laboratorios.pdf)

## Avisos

* Se atentem aos prazos de entrega das tarefas na aba de **Avaliações** do MS Teams.
* Horário de atendimento todas as Quintas-feiras as 17:30 às 19:30 via MS Teams enquanto as aulas presenciais não retornam.

<img src="../figures/obrigado.png" width="1000" height="1000">